<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>
<script type="text/javascript" th:src="@{/script/web/administracion/frmestado.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header">
        Listado de estados
    </div>
    <div class="card-body">
        <button id="btnnuevo" type="button" class="btn btn-info">
            <i class="bi bi-balloon"> Agregar</i>
        </button>

        <table id="tblestado" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripción</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="estado: ${listadoestados}">
                <td th:text="${estado.idestado}"></td>
                <td th:text="${estado.descestado}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-idestado="${estado.idestado}"
                            th:data-descestado="${estado.descestado}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btneliminar"
                            th:data-idestado="${estado.idestado}"
                            th:data-descestado="${estado.descestado}">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal AGREGAR Y ACTUALIZAR-->
<div class="modal fade" id="modalestado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Mantenimiento Estado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="txtdescripcion" class="form-label">Descripción:</label>
                <input type="text" class="form-control" id="txtdescripcion" placeholder="Ingrese descripción">
                <input type="hidden" id="hddidestado" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cerrar</button>
                <button id="btnguardar" onclick="click" type="button" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal ELIMINAR-->
<div class="modal fade" id="modaleliminarestado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Eliminar estado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="lblmensajeeliminar"></label>
                <input type="hidden" value="0" id="hddidestadoeliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cerrar</button>
                <button id="btneliminar" onclick="click" type="button" class="btn btn-primary"><i class="bi bi-save"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>